*{
    background-color: #08810f;
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    align-items: center;
}

hr{
    background-color: black;
    width: 500px;
    height: 3px;
}

img {
    width: 410px;
    height: 300px;
    border: 3px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top {
    background-color: white;
    text-align: center;
    padding-bottom: 25px;
}

#header{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

#divider{
    margin-top: 40px;
}

.btn{
    background-color: black;
    color: #08810f;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.about.title{
    padding-bottom: 5px;
    border-bottom-style: solid;
    font-size: 45px;
}

.about p{
    padding-bottom: 10px;
}

.ingredients{
    margin-top: 25px;
}

.ingredients.title{
    padding-bottom: 5px;
    border-bottom-style: solid;
    font-size: 25px
}

.ingredients.list{
    font-size: 20px;
    list-style-type: square;
}

.steps.title{
    padding-bottom: 5px;
    border-bottom-style: solid;
    font-size: 25px
}

.steps.list{
    font-size: 16px;
    max-width: 650px;
    max-height: 400px;
    list-style-type:decimal;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}